{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "air_rsv/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "air_rsv/css/dashboard.css" %}" rel="stylesheet">

	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Airline reservation system</a>
      
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">
              <span data-feather="log-out"></span>
              Sign out
          </a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">

              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="home"></span>
                  home
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  book ticket
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="x-circle"></span>
                  Cancel ticket
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  Booked tickets
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="edit"></span>
                  change password
                </a>
              </li>
            </ul>
            
            
          </div>
        </nav>



        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <form name="userinfo-form">
		
		<div class="col-md-12 offset-md-0">
          		
				<div class="container">
      <div class="row">
      
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Sai Krishna</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                
             
            
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>First Name:</td>
                        <td>Sai</td>
                      </tr>
                      <tr>
                        <td>Last Name:</td>
                        <td>Krishna</td>
                      </tr>
                      <tr>
                        <td>Username:</td>
                        <td>krishna-akula</td>
                      </tr>
                   
                         <tr>
                             <tr>
                        <td>Password:</td>
                        <td>*******</td>
                      </tr>
                        <tr>
                        <td>Email:</td>
                        <td>sai@gmail.com</td>
                      </tr>
                      <tr>
                        <td>Address</td>
                        <td>blah..blah..blah</td>
                      </tr>
			<tr>
                        <td>Mobile Number</td>
                        <td>555-4567-890(Mobile)
                        </td>
                           
                      </tr>
			<tr>
                        <td>Offers Available</td>
                        <td>blah..blah..blah</td>
                      </tr>
                     
                    </tbody>
                  </table>
                  
                  
                  <!--a href="#" class="btn btn-primary">Team Sales Performance</a -- >
                </div>
              </div>
            </div>
                 <!--div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div-->
            
          </div>
        </div>
      </div>
    </div>

          		
                
            </div>

           </form>

        </main>

      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static "air_rsv/js/jquery-slim.min.js" %}"><\/script>')</script>
    <script src="{% static "air_rsv/js/popper.min.js" %}"></script>
    <script src="{% static "air_rsv/js/bootstrap.min.js" %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

  </body>
</html>
