{% extends 'base_airline.html' %}


{% block body %}


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <form class="form-bookedtickets">

    <div class="col-md-12 offset-md-0">
        <h1 class="page-header">Airports Data</h1>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr><!-- 
                <th>Select</th> -->
                <th>Airport ID</th>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>News</th>
              </tr>
            </thead>
            <tbody>
              {% for i in data %}
              <tr>
                <td>{{i.airport_id}}</td>
                <td>{{i.airport_name}}</td>
                <td>{{i.airport_country}}</td>
                <td>{{i.airport_city}}</td>
                <td>{{i.airport_news}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </form>
</main>

{% endblock %}

          
    

    
      

