{% extends 'base_user.html' %}


{% block body %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <form class="form-bookedtickets" method="post">
       <div class="col-md-12 offset-md-0">
          <h1 class="page-header">My Booking History</h1>
          <div class="table-responsive">
             <table class="table table-striped">
                <thead>
                   <tr>
                      <th>Ticket ID</th>
                      <th>Flight ID</th>
                      <th>From</th>
                      <th>To</th>
                      <th>Date of Journey</th>
                      <th>Flight Class</th>
                      <th>No. of tickets </th>
                   </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                   <tr>
                      <td>{{i.ticket_id}}</td>
                      <td>{{i.flight_id.flight_id}}</td>
                      <td>{{i.source_id.airport_city}}</td>
                      <td>{{i.destination_id.airport_city}}</td>
                      <td>{{i.date_of_departure}}</td>
                      <td>{{i.flight_class}}</td>
                      <td>{{i.total_seats}}</td>
                   </tr>
                   {% endfor %}
                </tbody>
             </table>
          </div>
       </div>
       </div>
    </form>
 </main>

 {% endblock %}