{% extends 'base_user.html' %}
{% block body %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <form name="booking-form" method="post">
      {% csrf_token %}
    <div class="col-md-10 offset-md-1">
      <span class="anchor" id="formComplex"></span>
        <hr class="my-5">
          <h3>Ticket Details </h3>
            {% if messages %}

                    {% for message in messages %}

                       <div class="alert alert-primary" role="alert">
                         <strong><!--{% if message.tags %} class="{{ message.tags }}"{% endif %}>-->{{ message }}</strong>
                        </div>
                    {% endfor %}
        {% endif %}
<!-- form complex example -->
          <div class="form-row mt-4">
                {% if ticket_data %}
              <div class="col-sm-6 pb-3">
                  <label for="exampleFirst">From</label>
                  <input type="text" class="form-control" id="exampleFirst" value={{ticket_data.8.airport_city}} readonly>
              </div>
              <div class="col-sm-6 pb-3">
                  <label for="exampleLast">To</label>
                  <input type="text" class="form-control" id="exampleLast" value={{ticket_data.9.airport_city}}  readonly>
              </div>
              <div class="col-sm-6 pb-3">
                  <label for="exampleCity">Date</label>
                  <input type="text" class="form-control" id="exampleCity" value={{ticket_data.4}} readonly>
              </div>

              
              <div class="col-sm-3 pb-3">
                  <label for="exampleZip">No of tickets</label>
                  <input type="text" class="form-control" id="exampleZip" value={{ticket_data.5}} readonly>
              </div>
              <div class="col-sm-4 pb-3">
                      <label for="exampleZip">Fare</label>
                      <input type="text" class="form-control" id="exampleZip" value={{ticket_data.3}} readonly>
              </div>
              {% endif %}
          </div>

          <div class="col-sm-4 pb-3 ml-auto">
                  <!-- Button trigger modal -->
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
        </div>
    </div>
  </form>
</main>

{% endblock %}