{% extends "base_user.html" %}
{%block body%}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
   <form name="booking-form" method="post">
    {% csrf_token %}
      <div class="container">
         <span class="anchor" id="formComplex"></span>
         <hr class="my-5">
         <h3>Flight Search </h3>
         <div class="row">
            <div class="col-5">
               <label for="from">From</label>
               <input type="text" class="form-control" name="from" id = "from">
            </div>
            <div class="col-5">
               <label for="To">To</label>
               <input type="text" class="form-control" name="to" id = "to">
            </div>
         </div>
         <div class="row">
            <div class="col-2">
               <label for="date">Date</label>
               <input type="text" class="form-control" id="date" name = "date" placeholder="DD/MM/YYYY">
            </div>
            <div class="col-3">
               <label for="total_seats">Total seats</label>
               <select class="custom-select" id="total_seats" name = "total_seats">
                  <option select="selected" value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
               </select>
            </div>
            <div class="col-3">
               <label for="class">class</label>
               <select class="custom-select" id="class" name ="class">
                  <option selected value="economy">Economy</option>
                  <option value="business">business</option>
               </select>
            </div>
         </div>
         <div class="col-sm-3 pb-3 justify-content-centre" >
            <!-- Button trigger modal -->
            <label for="exampleFirst"> </label>
            <button type="submit" class="align-self-center btn btn-sm btn-primary btn-block" >
            Search
            </button>
         </div>
      </div>
   </form>
</main>
{%endblock%}