{% extends "base_user.html" %}

<script type='text/javascript'>
  function enable_button(){
      document.getElementById("bookid").disabled = false;
  }
</script>
{%block body%}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
   <form name="flight-list-form" method="post">
      {%csrf_token%}
      <div class="col-md-12 offset-md-0">
         <h3 class="page-header">Available Flights</h3>
         {% if messages %}

                    {% for message in messages %}

                       <div class="alert alert-primary" role="alert">
                         <strong><!--{% if message.tags %} class="{{ message.tags }}"{% endif %}>-->{{ message }}</strong>
                        </div>
                    {% endfor %}
        {% endif %}
         <div class="table-responsive">
          {% if final_results %}
            <table class="table table-striped">
               <thead>
                  <tr>
                     <th>Select</th>
                     <th>Airline</th>
                     <th>Travel Time</th>
                     <th>Departure Time</th>
                     <th>Fare</th>
                  </tr>
               </thead>
               <tbody>
                  {% for i,j,k,l,m,n in final_results %}
                  <tr>
                     <td>
                        <label class="myradio">
                        <input type="radio" name= "rb{{forloop.counter}}" value="{{forloop.counter}}" id="blankRadio1" onclick = "enable_book();" aria-label="..."> 
                        </label>
                     </td>
                     <td>{{i.airline_email.name}}</td>
                     <td>implement</td>
                     {% if j == None %}
                        <td>{{i.departure_time}}</td>
                     {% else %}
                        <td>{{j.departure_time}} </td>
                     {% endif %}
                     <td>{{l}}</td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>
            <button class="btn btn-primary " id = "bookid" name="submit" disabled="disabled" type="submit">Book</button>
            {% else %}
             <p> We regret to inform you that there are no flights available for given query.</p>
            {% endif %}
         </div>
      </div>
      </div>
   </form>
</main>

{%endblock%}