{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "air_rsv/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "air_rsv/css/signin.css" %}" rel="stylesheet">
    <link href="{% static "air_rsv/images/favicon.png" %}" rel="shortcut icon">

  </head>

  <body class="text-center">
      <header>
          <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">AirLine Reservation System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url "air_rsv:home" %}">Home </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url "air_rsv:signin" %}">Login</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url "air_rsv:register" %}">Register</a>
                </li>
              </ul>
            </div>
          </nav>
        </header>

    <form class="form-signin" method="post">
      {% csrf_token %}
        {% if messages %}

                    {% for message in messages %}

                       <div class="alert alert-primary" role="alert">
                         <strong><!--{% if message.tags %} class="{{ message.tags }}"{% endif %}>-->{{ message }}</strong>
                        </div>
                    {% endfor %}
        {% endif %}
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required
      autofocus>
       <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Type</label>
        </div>
        <select class="custom-select" name="usertype">
          <option selected value="airline">Airline company</option>
          <option value="passenger">passenger</option>
        </select>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>

  </body>
</html>
