
{% extends 'base_airline.html' %}

{% block body %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

    <div class="col-md-6 offset-md-3">


        <!-- form card change password -->
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Add Flight-instance to the DataBase</h3>
            </div>
            <div class="card-body">
                <form class="form" role="form" autocomplete="on" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="inputText">Flight ID</label>
                        <input type="text" name="flightid" class="form-control" required="">
                    </div>
                    <div class="form-group">
                        <label for="inputNumber">Available No. of Business class Seats</label>
                        <input type="number" name="total_bseats" class="form-control" style="width: 100px;" required="">
                    </div>
                    <div class="form-group">
                        <label for="inputNumber">Available No. of Economy class Seats</label>
                        <input type="number" name="total_eseats" class="form-control" style="width: 100px;" required="">
                    </div>
                    <div class="form-group">
                        <label for="inputNumber">Destination Day Offset</label>
                        <input type="date" name="day_offset" class="form-control"  required="">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg float-right">Add Flight Instance</button>
                    </div>

                </form>
            </div>
        </div>

    </div>

</main>
{% endblock %}

